:root {
    --primary-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
    --slate: #434455;
    --navyblue: #2E2F42;
    --white: #FFFFFF;
    --iris: #4D5AE5;
    --cloud: #F4F4FD;
    --ocean: #404BBF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    color: var(--slate);
    background-color: var(--white);
    width: 1440px;
    height: 2592px;
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 2592px;
}

h1, h2, h3, h4, h5,h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.link:active {
    color: var(--ocean);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/** ------------------HEADER----------------- */

.header  {
    width: 1440px;
    height: 72px;
    flex-shrink: 0;
    border-bottom: 1px solid var(--cornflower, #E7E9FC);
    background: var(--white, #FFF);
    margin: 0;
    padding: 0; 
    justify-content: space-between;
        align-items: center;
    
}



.header-logo {
    font-family: var(--logo-font);
    font-weight:800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);


    }

    header-navigation {
        display: inline-flex;
            align-items: flex-start;
            gap: 40px;
            margin: 24px 832px 24px 347px;
            width: 261px;
            height: 24px;
    }



.header-logo-span {
    color: var(--navyblue);
    display: flex;
        width: 71px;
}

.navigation-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;}


.navigation-list-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navyblue);
}

.navigation-list-link:hover, .navigation-list-link:focus {
    color: var(--ocean);
}

.header-address {
    font-style: normal;
}

.header-address-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);

    
}

.header-address-list:hover, .header-address-list:focus {
    color: var(--ocean);
}

.header .container {
    display: flex;
    width: 1440px;
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

/*! ------------------------section-one------------*/


.section-one {
    background-color: var(--navyblue);
}

.section-one-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
}

.section-one-btn {
    font-family: var(--primary-font);
    background-color: var(--iris);
    font-weight:500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
}

.section-one-btn:hover, section-one-btn:focus{
    background-color: var(--ocean);
}

/*!--------------------------section-two----------------*/

.title-general {
    font-weight:500;
    font-size:20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
}

.text-general {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/*!------------------------section-three-------------------*/

.section-three-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue)
    ;
}

/*!------------------------section-four------------------*/

.section-four {
    background-color: var(--cloud);
}

.section-four-item {
background-color: var(--white);
}

.section-four-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue);
}

/*!------------------------footer-------------------*/

.footer {
    background-color: var(--navyblue);
}

.footer-logo-link {
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.foote-logo-span {
    color: var(--cloud);
}

.footer-logo-text {
    line-height: 1.5;
    color: var(--cloud);
    letter-spacing: 0.02em;
}

/*!------------------------section--portfolio-------------------*/

.portfolio-menu-item-btn {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    background-color: var(--cloud);
    text-align: center;
    cursor: pointer;
}

.portfolio-menu-item-btn:hover, .portfolio-menu-item-btn:focus {
    color: var(--white);
    background-color: var(--ocean);
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
}